<div id="archive">
    <div id="archive-caption"><span>REGIONAL BUDGET VS ACTUAL ARCHIVE</span></div>
    <div id="archive-chart">
        <div class="table-container">
            <div class="table">
                <div class="rows">
                    <div class="cells headers">
                        <span class="col1"></span>
                        <div id="archive-nav">
                            <div id="years">
                                <span class="labels">Year</span>
                                <select ng-model="queryYear" ng-change="getData(queryYear, queryMonth)">
                                    <option ng-repeat="year in [] | range:startingYear:currentYear track by $index" value="{{year}}" ng-selected="queryYear == year">{{year}}</option>
                                </select>
                            </div>
                            <div id="months">
                                <span class="labels">Month</span>
                                <select ng-model="queryMonth" ng-change="getData(queryYear, queryMonth)">
                                    <option ng-repeat="month in months track by $index" value="{{month}}" ng-selected="queryMonth === month">{{month}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="cells headers">
                        <span class="col2">Budget</span>
                    </div>
                    <div class="cells headers">
                        <span class="col3">Actual</span>
                    </div>
                    <div class="cells headers">
                        <span class="col4">Difference</span>
                    </div>
                    <div class="cells headers">
                        <span class="col5">% Difference</span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-hide="queryYear == null || queryMonth == null || volumeData.length <= 0">
            <div class="table-container">
                <div class="table-label">Chemo Treatments</div>
                <div class="table">
                    <div ng-class="{'underline' : $last, 'highlight':$even, 'rows':true}" ng-repeat="data in volumeData | filter:{'Treatment':'Chemo Tx', 'Region':'!Total'} | orderBy:'Region'">
                        <div class="cells">
                            <span class="col1">{{data.Region}}</span>
                        </div>
                        <div class="cells">
                            <span class="col2">{{data.Budget | number}}</span>
                        </div>
                        <div class="cells">
                            <span class="col3">{{data.Actual | number}}</span>
                        </div>
                        <div class="cells">
                            <span class="col4">{{data.Difference | number}}</span>
                        </div>
                        <div class="cells">
                            <span class="col5">{{data.OData__x0025__x0020_Difference | number:1}}</span>
                        </div>
                    </div>
                    <div class="rows" ng-repeat="data in volumeData | filter:{'Treatment':'Chemo Tx', 'Region':'Total'} | orderBy:'Region'">
                        <div class="cells">
                            <span class="col1 bold">{{data.Region}}</span>
                        </div>
                        <div class="cells">
                            <span class="col2">{{data.Budget | number}}</span>
                        </div>
                        <div class="cells">
                            <span class="col3">{{data.Actual | number}}</span>
                        </div>
                        <div class="cells">
                            <span class="col4">{{data.Difference | number}}</span>
                        </div>
                        <div class="cells">
                            <span class="col5">{{data.OData__x0025__x0020_Difference | number:1}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <div class="table-label">Rad Onc Treatments</div>
                <div class="table">
                    <div ng-class="{'underline' : $last, 'highlight':$even, 'rows':true}" ng-repeat="data in volumeData | filter:{'Treatment':'Rad Onc Tx', 'Region':'!Total'} | orderBy:'Region'">
                        <div class="cells">
                            <span class="col1">{{data.Region}}</span>
                        </div>
                        <div class="cells">
                            <span class="col2">{{data.Budget | number}}</span>
                        </div>
                        <div class="cells">
                            <span class="col3">{{data.Actual | number}}</span>
                        </div>
                        <div class="cells">
                            <span class="col4">{{data.Difference | number}}</span>
                        </div>
                        <div class="cells">
                            <span class="col5">{{data.OData__x0025__x0020_Difference | number:1}}</span>
                        </div>
                    </div>
                    <div class="rows" ng-repeat="data in volumeData | filter:{'Treatment':'Rad Onc Tx', 'Region':'Total'}">
                        <div class="cells">
                            <span class="col1 bold">Total</span>
                        </div>
                        <div class="cells">
                            <span class="col2">{{data.Budget | number}}</span>
                        </div>
                        <div class="cells">
                            <span class="col3">{{data.Actual | number}}</span>
                        </div>
                        <div class="cells">
                            <span class="col4">{{data.Difference | number}}</span>
                        </div>
                        <div class="cells">
                            <span class="col5">{{data.OData__x0025__x0020_Difference | number:1}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <div class="table-label">MD Visits</div>
                <div class="table">
                    <div ng-class="{'underline' : $last, 'highlight':$even, 'rows':true}" ng-repeat="data in volumeData | filter:{'Treatment':'Clinic Visits', 'Region':'!Total'} | orderBy:'Region'">
                        <div class="cells">
                            <span class="col1">{{data.Region}}</span>
                        </div>
                        <div class="cells">
                            <span class="col2">{{data.Budget | number}}</span>
                        </div>
                        <div class="cells">
                            <span class="col3">{{data.Actual | number}}</span>
                        </div>
                        <div class="cells">
                            <span class="col4">{{data.Difference | number}}</span>
                        </div>
                        <div class="cells">
                            <span class="col5">{{data.OData__x0025__x0020_Difference | number:1}}</span>
                        </div>
                    </div>
                    <div class="rows" ng-repeat="data in volumeData | filter:{'Treatment':'Clinic Visits', 'Region':'Total'}">
                        <div class="cells">
                            <span class="col1 bold">{{data.Region}}</span>
                        </div>
                        <div class="cells">
                            <span class="col2">{{data.Budget | number}}</span>
                        </div>
                        <div class="cells">
                            <span class="col3">{{data.Actual | number}}</span>
                        </div>
                        <div class="cells">
                            <span class="col4">{{data.Difference | number}}</span>
                        </div>
                        <div class="cells">
                            <span class="col5">{{data.OData__x0025__x0020_Difference | number:1}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="no-data">{{errorMsg}}</div>
    <div id="normal-mode" ng-click="viewNormal()" ng-class="getArchiveClass()">
        <span>« GO BACK</span>
    </div>
</div>