#main {
  width: 700px;
  font-family: arial; }
  #main #trends-container #latest-trends-title {
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px; }
  #main #trends-container #trend-nav {
    margin-top: 15px; }
    #main #trends-container #trend-nav .bar {
      padding: 0px 5px;
      font-weight: normal;
      color: #B5B5A9; }
    #main #trends-container #trend-nav span {
      cursor: pointer;
      font-size: 12px;
      color: #797979; }
    #main #trends-container #trend-nav .active-trend {
      color: #377BB7;
      font-weight: bold; }
  #main #trends-container #image-pagination {
    margin: 5px 0px 0px 55px;
    width: 590px; }
    #main #trends-container #image-pagination #left-arrow,
    #main #trends-container #image-pagination #right-arrow {
      cursor: pointer;
      margin: 0px 4px; }
    #main #trends-container #image-pagination .numbers {
      color: #B5B5A9;
      padding: 0px 5px;
      cursor: pointer;
      font-size: 15px;
      display: inline-block; }
    #main #trends-container #image-pagination .current-image {
      color: #377BB7;
      font-weight: bold; }
  #main #trends-container #image-container {
    height: 481px; }
    #main #trends-container #image-container > div {
      display: none; }
    #main #trends-container #image-container .current-image {
      display: block; }
    #main #trends-container #image-container img {
      width: 700px;
      border-style: none; }
  #main #trends-container #downloadPDF {
    font-weight: bold;
    padding: 5px;
    width: 210px;
    border-radius: 8px;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
    background: #377BB7;
    color: white;
    font-size: 12px; }
  #main .visible {
    visibility: hidden; }
  #main #budget-volume #volumes-nav {
    margin-top: 15px;
    margin-bottom: 20px;
    height: 21px; }
    #main #budget-volume #volumes-nav .bar {
      padding: 0px 5px;
      font-weight: normal;
      color: #B5B5A9; }
    #main #budget-volume #volumes-nav span {
      color: #797979;
      font-size: 12px;
      cursor: pointer; }
    #main #budget-volume #volumes-nav .active-sub {
      color: #377BB7;
      font-weight: bold; }
  #main #budget-volume #archive-mode {
    font-weight: bold;
    padding: 5px;
    width: 120px;
    border-radius: 8px;
    margin: 0px auto;
    text-align: center;
    cursor: pointer;
    background: #377BB7;
    color: white;
    font-size: 12px; }
  #main #budget-volume .hide-archive {
    display: none; }
  #main #budget-volume .table-container {
    margin-bottom: 15px; }
    #main #budget-volume .table-container .table-label {
      font-weight: bold;
      padding-left: 20px;
      width: 240px; }
    #main #budget-volume .table-container .table {
      display: table;
      width: 700px;
      border-collapse: collapse; }
      #main #budget-volume .table-container .table .rows {
        display: table-row; }
      #main #budget-volume .table-container .table .cells {
        display: table-cell;
        height: 22px; }
      #main #budget-volume .table-container .table .cells:last-child {
        padding-right: 20px; }
      #main #budget-volume .table-container .table .headers {
        text-align: center; }
      #main #budget-volume .table-container .table .underline {
        border-bottom: solid black 1px; }
      #main #budget-volume .table-container .table span.col1 {
        width: 185px;
        padding-left: 20px; }
      #main #budget-volume .table-container .table span.col2 {
        width: 100px;
        text-align: right; }
      #main #budget-volume .table-container .table span.col3 {
        width: 100px;
        text-align: right; }
      #main #budget-volume .table-container .table span.col4 {
        width: 100px;
        text-align: right; }
      #main #budget-volume .table-container .table span.col5 {
        width: 100px;
        text-align: right; }
      #main #budget-volume .table-container .table span {
        display: inline-block; }
      #main #budget-volume .table-container .table .bold {
        font-weight: bold; }
      #main #budget-volume .table-container .table .highlight {
        background: #A3DBF7;
        background: rgba(163, 219, 247, 0.4); }
  #main #archive #archive-nav {
    margin-top: 15px;
    margin-bottom: 20px;
    height: 21px; }
    #main #archive #archive-nav .labels {
      color: #4D86C5;
      padding-left: 10px;
      font-size: 13px; }
    #main #archive #archive-nav #years, #main #archive #archive-nav #months {
      display: inline-block; }
    #main #archive #archive-nav #archive-caption {
      font-weight: bold;
      font-size: 12px; }
  #main #archive #normal-mode {
    font-weight: bold;
    padding: 5px;
    width: 120px;
    border-radius: 8px;
    margin: 0px auto;
    text-align: center;
    cursor: pointer;
    background: #377BB7;
    color: white;
    font-size: 12px; }
  #main #archive #archive-chart .table-container {
    margin-bottom: 15px; }
    #main #archive #archive-chart .table-container .table-label {
      font-weight: bold;
      padding-left: 20px;
      width: 240px; }
    #main #archive #archive-chart .table-container .table {
      display: table;
      width: 700px;
      border-collapse: collapse; }
      #main #archive #archive-chart .table-container .table .rows {
        display: table-row; }
      #main #archive #archive-chart .table-container .table .cells {
        display: table-cell;
        height: 22px; }
      #main #archive #archive-chart .table-container .table .cells:last-child {
        padding-right: 20px; }
      #main #archive #archive-chart .table-container .table .headers {
        text-align: center; }
      #main #archive #archive-chart .table-container .table .underline {
        border-bottom: solid black 1px; }
      #main #archive #archive-chart .table-container .table span.col1 {
        width: 185px;
        padding-left: 20px; }
      #main #archive #archive-chart .table-container .table span.col2 {
        width: 100px;
        text-align: right; }
      #main #archive #archive-chart .table-container .table span.col3 {
        width: 100px;
        text-align: right; }
      #main #archive #archive-chart .table-container .table span.col4 {
        width: 100px;
        text-align: right; }
      #main #archive #archive-chart .table-container .table span.col5 {
        width: 100px;
        text-align: right; }
      #main #archive #archive-chart .table-container .table span {
        display: inline-block; }
      #main #archive #archive-chart .table-container .table .bold {
        font-weight: bold; }
      #main #archive #archive-chart .table-container .table .highlight {
        background: #A3DBF7;
        background: rgba(163, 219, 247, 0.4); }
  #main #archive #no-data {
    text-align: center;
    color: red;
    margin-bottom: 15px; }
  #main #header {
    font-size: 26px;
    margin-bottom: 20px; }
  #main #category-nav {
    display: table;
    border-collapse: collapse;
    width: 700px; }
    #main #category-nav .rows {
      display: table-row; }
    #main #category-nav .cell {
      width: 50%;
      text-align: center;
      font-size: 13px;
      cursor: pointer;
      display: table-cell;
      border-bottom: solid #4D86C5 1px;
      padding-top: 7px;
      padding-bottom: 3px;
      color: #797979; }
    #main #category-nav .active-category {
      color: #377BB7;
      font-weight: bold;
      border-top: solid #4D86C5 1px;
      border-right: solid #4D86C5 1px;
      border-left: solid #4D86C5 1px;
      border-bottom: none; }
